<ion-view>
  <ion-nav-title>
    Welcome<span ng-show="localstorage.get('username', '') != ''"> {{ localstorage.get('username') }}</span>!
  </ion-nav-title>
  <ion-content scroll="false" class="instructions-content">
    <h2 class="text-center">How to Play</h2>
    <h3>Swipe right if the statement is true and swipe left if the statement is false. The more statements you get correct, the more weird and quirky photos you unlock!</h3>

    <h3>Want to challenge other players? Submit your own questions and ideas in the 'Submit Facts' tab.</h3>

    <h3 class="text-center">Good luck!</h3>

    <div class="text-center" style="padding-top: 20px;">
      <a class="button button-positive" menu-toggle="left">
        Start!
      </a>
    </div>
  </ion-content>
</ion-view>
